*{
	color: #747474;
}
.blog{
	// border:1px solid green;
	width: 100%;
	height: auto;
	display: flex;
	overflow-x:hidden;
	.left-blog{
		// border: 1px solid red;
		width: 70%;
		height: auto;
		.block-blog{
			border:1px solid black;
			width: 1000px;
			height: 550px;
			margin:30px 50px 50px 50px;
			.image-blog{
				border-bottom:.5px solid #111;
				width: 100%;
				height: 250px;
			}
			.up-block-blog{
				width: 100%;
				height: 250px;
				.title-blog{
					width: 100%;
					height: 100px;
					margin-left: 1rem;
				}
				.excerpt-blog{
					margin-left: 1rem;
				}
			}
			.down-block-blog{
				display: flex;
				width:100%;
				height: 50px;
				border-top:.5px solid #111;
				.author{
					margin:.7rem 1.5rem 1rem 1rem;
				}
				.calendar{
					
					margin:.7rem 1.5rem 1rem 1rem;
				}
				.tag-blog{
					margin:.7rem 1.5rem 1rem 1rem;
				}
				.comment-blog{
					margin:.7rem 1.5rem 1rem 1rem;
				}
				.read-more{
					display: flex;
					margin:.7rem 2rem 1rem 23rem;
					p{
						width: 127px;
						height: 10px;
						font-size: 1rem;
					}
					i{
						margin-top: .5rem;
					}
				}
			}
		}
		nav{
			margin-left: 14rem;
		}
	}
	.right-blog{
		// border: 1px solid green;
		width: 30%;
		height: auto;
		.block-category{
			border:1px solid #747474;
			width: 380px;
			height: 300px;
			margin: 30px 50px 50px 10px;
			.category{
				border-bottom: .5px solid black;
				width: 100%;
				height: 50px;
				background-color: #DFE0DF;
				h1{
					margin-left: 1rem;
				}
			}
			.content-cate{
				.cate-1{
					border-bottom:1px solid black;
					width: 91%;
					height: 25px;
					padding:1.5rem;
					position: relative;
					margin-left: 1rem;

					i{
						position: absolute;
						left: 1rem;
						top: 1rem;
						// color: #747474;
					}
					p{
						position: absolute;
						left: 2rem;
						top: .8rem;
						// color: #747474;
					}
					.number{

						position: absolute;
						right: 1rem;
						top: .5rem;
						span{
							border:1px solid;
							border-radius: 1rem;
							background-color: #B1B3B1;
						    color: #ffffff;
						}
					}
				}
			}
		}
		.popular-blog{
			border:1px solid #747474;
			width: 380px;
			height: auto;
			margin: 30px 50px 50px 10px;
			.title-pop{
				border-bottom: .5px solid black;
				width: 100%;
				height: 50px;
				background-color: #DFE0DF;
				h1{
					margin-left: 1rem;
				}
			}
			.content-pop{
				.pop-1{
					width: 100%;
					margin:.5rem auto 2rem 1rem;
					display: flex;
					.image{
						border:1px solid red;
						// float: left;
						width: 180px;
						height: 80px;
					}
					.detail{
						margin-left: 1rem;
						.name-pop{
							margin-left: 1rem;
						}
					}
				}
			}
		}
	}
}