.page-wrapper{
	width: 100%;
	height: 300px;
	align-items: center;
	.page_content{
		width: 81%;
		height: 75%;
		border:.1px solid #ffffff;
		margin:4% 10%;
		border-radius: 1rem;
		box-shadow: -1px 1px 5px 5px #E0E1E2;
		.content{
			width: 94%;
			height: 67%;
			margin:3% 4%;
			display: flex;
			border:none;
			.items{
				width: 215px;
				height: 144px;
				margin-right: 2rem;
				border-radius: 1rem;
				cursor: pointer;
				box-shadow: -1px 1px 5px 5px #E0E1E2;
				position: relative;
				text-align: center;
				img{
					width: 100%;
					height: 100%;
					border-radius: 1rem;
					z-index: 1;
				}
				.letter{
					width: 100%;
					height: 100%;
					border-radius: 1rem;
					position: absolute;
					z-index: 3;
					top: 0rem;
					font-family: 'Hanalei', cursive;
					font-size: 2.5rem;
					color: #ffffff;
					text-align: center;
					align-items: center;
					padding-top: 5rem;
					a:hover{
						color: #fcba03 !important;
					}
				}
				
			}
		}
	}
}