@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600&family=Hanalei&family=Lato:ital,wght@0,400;1,300&family=Playfair+Display:ital,wght@0,400;0,500;1,400&family=Roboto:ital,wght@0,400;1,300&family=Source+Serif+Pro:ital,wght@0,400;1,300;1,400&display=swap");
@import url(https://fonts.googleapis.com/css?family=Gafata|Montez|Averia+Sans+Libre|Vampiro+One);
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Gloria+Hallelujah&display=swap");
:root {
  --Dancing:'Dancing Script', cursive;
  --Hanalei:'Hanalei', cursive;
  --Lato:'Lato', sans-serif;
  --Roboto:'Roboto', sans-serif;
  --Source:'Source Serif Pro', serif;
  --Playfair:'Playfair Display', serif; }

/*create nemu navbar*/
header * {
  color: black; }

header {
  border: 5px solid green;
  background: white;
  height: 100px;
  border: none;
  margin: 0;
  width: 100%;
  justify-content: space-between;
  display: flex; }
  header .logo {
    float: left;
    height: inherit;
    margin-left: 2em;
    margin-top: 2rem;
    width: 25%; }
    header .logo .logo-text {
      margin: 9px;
      font-family: 'Montez'; }
      header .logo .logo-text span {
        color: #05f7ff; }
  header .nav-menu {
    width: 45%;
    height: 100%;
    padding-left: 0;
    list-style: none;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    header .nav-menu .slogan {
      width: 200px;
      height: 50px;
      text-align: center;
      margin-top: 1rem; }
      header .nav-menu .slogan span {
        font-size: 3rem;
        color: black; }
      header .nav-menu .slogan p {
        font-family: 'Fredericka the Great', cursive;
        font-size: 2rem; }
    header .nav-menu li {
      margin: 3.5rem 2rem 2rem 2rem; }
    header .nav-menu li:hover {
      color: red; }
    header .nav-menu .account-toggle {
      position: relative; }
      header .nav-menu .account-toggle .dropdown {
        position: absolute;
        top: 100%;
        z-index: 10;
        margin-left: -10rem;
        display: none;
        flex-direction: column;
        width: 100%; }
        header .nav-menu .account-toggle .dropdown li {
          padding-left: 1em;
          border: 1px solid orange; }
          header .nav-menu .account-toggle .dropdown li a {
            padding: 10px;
            color: white;
            background: #0E94A0; }
            header .nav-menu .account-toggle .dropdown li a:hover {
              background: #006669; }
    header .nav-menu .account-toggle:hover .dropdown {
      display: inline-block; }
  header .social {
    width: 15%;
    padding: 1.4rem 0;
    text-align: center;
    margin-top: 1.5rem; }
    header .social i {
      padding: 0.2rem;
      margin: 1rem 0rem 2rem 2rem;
      color: #8F8F8F; }
    header .social i:hover {
      color: #a1c4cf; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  opacity: 1; }

header .menu-toggle {
  display: none; }

.content {
  /*border:1px solid blue;*/
  width: 100%;
  height: 830px; }

/*End Post Content*/
#btn-Top {
  display: block;
  position: fixed;
  bottom: 9rem;
  right: 2rem;
  background-color: green;
  z-index: 99;
  font-size: 28px; }

.zalo-chat-widget {
  border: 1px solid red;
  display: block; }

/*# sourceMappingURL=style.css.map */
